<div class="page-header d-flex align-items-center mx-auto mb-4">あなたのフィード</div>

<div class="feed-contents">
  <div class="tab-pane">
    <% if @feed_posts.any? %>
      <div class="home-post-cards row">
        <% @feed_posts.each do |post| %>
          <div class="post-card col-6 col-sm-4">
            <div class="post-card-img">
              <%= link_to image_tag(post.image.url, class: "img-fluid-home", alt: "post image"), post_path(post) %>
            </div>
            <div class="post-card-footer d-flex align-items-center">
              <% if post.user.avatar?%>
                <%= link_to image_tag(post.user.avatar.mini.url, size: "35x35", class: "rounded-circle z-depth-0",
                                      alt: "avatar image"), user_path(post.user), class: "mr-3" %>
              <% else %>
                <%= link_to image_tag("no_user.png", size: "35x35", class: "rounded-circle z-depth-0",
                                      alt: "avatar image"), user_path(post.user), class: "mr-3" %>
              <% end %>
              <div class="post-footer-names" style="line-height: 20px;">
                <%= link_to "@#{post.user.user_name}", user_path(post.user), class: "post-footer-username" %></a>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= render 'no_feed' %>
      <% end %>
    </div>
    <div class="following-posts-footer">
      <%= paginate @feed_posts %>
    </div>
  </div>
</div>
