<% provide :title, "プロフィール編集" %>
<!-- error -->
<div class="error_explanation">
  <% if alert %>
    <p class="alert alert-alert"><%= alert %></p>
  <% end %>
</div>

<div class="custom-form">
  <h1 class="form-title mb-4 text-center">プロフィールを編集</h1>
  <div class="container" style="max-width: 730px; padding: 1rem 30px;">
    <%= form_with(model: @profile, url: profile_path, method: :put, local: true) do |f| %>
    <div class="row">
      <div class="edit-profile-form">
        <!-- プロフィール編集 -->
        <div class="field form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label :age %>
          <%= f.text_field :age, class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label :gender %><br />
          <%= f.select :gender, Profile.genders_i18n.keys.map {|k| [Profile.genders_i18n[k], k]}, prompt: '-', class: "form-control" %><br />
        </div>
        <div class="field form-group">
          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label :job %><br />
          <%= f.select :job, Profile.jobs_i18n.keys.map {|k| [Profile.jobs_i18n[k], k]}, prompt: '-', class: "form-control" %><br />
        </div>
        <div class="field form-group">
          <%= f.label :living_style %><br />
          <%= f.select :living_style, Profile.living_styles_i18n.keys.map {|k| [Profile.living_styles_i18n[k], k]}, prompt: '-', class: "form-control" %><br />
        </div>
        <div class="fieldp form-grou">
          <%= f.label :floor_plan %><br />
          <%= f.select :floor_plan, Profile.floor_plans_i18n.keys.map {|k| [Profile.floor_plans_i18n[k], k]}, prompt: '-', class: "form-control" %><br />
        </div><br />
        <div class="field form-group">
          <%= f.label :floor_width %>
          <%= f.text_field :floor_width, class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label :web_site %>
          <%= f.text_field :web_site, class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label :introduction, '自己紹介（最大140文字）' %>
          <%= f.text_area :introduction, class: 'form-control js-text', rows: 6, placeholder: '改行は反映されません' %>
          <p class="js-text-count pull-left"></p><br />
        </div>
        <div class="actions text-left mb-4">
          <%= f.submit "変更を保存する", { class: "btn submit-btn" } %>
          <%= link_to "キャンセル", user_path, class: "btn submit-btn mr-2", style: "border: none;" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
