<% provide(:title, @user.user_name) %>
<h3><%= @user.user_name %>の部屋</h3>

<div id="main">
  <div class="left">
    <!-- user_info -->
    <section class="user_info">
      <%= render partial:  'user_info_table', :locals => {:profile => @profile, :user => @user} %>
    </section>
    <!-- stats -->
    <section class="stats">
      <%= render 'stats' %>
    </section>
    <section class ="prfile-edit">
    <% if user_signed_in? %>
      <% if current_user.id == @user.id %>
        <%= render 'user_menu' %>
      <% elsif current_user.admin?  %>
        <%= render 'admin_menu' %>
      <% end %>
    <% end %>
    </section>
  </div>
  <!-- feed -->
  <div class="right">
    <div id = "profile-photos">
      <% if user_signed_in? %>
        <%= render 'follow_form', user: @user %>
      <% end %>
      <% if @user.posts.any? %>
        <%= render 'show_latest', group: @posts %>
      <% else %>
          投稿がありません
      <% end %>
    </div>
    <div class="show-latest-footer">
      <%= paginate @posts %>
    </div>
  </div>
</div>