<div class="post-header d-flex align-items-center">
  <% if object.user.avatar? %>
    <%= link_to image_tag(object.user.avatar.mini.url, size: "50x50", class: "rounded-circle z-depth-0",
                          alt: "avatar image"), profile_path(object.user), class: "mr-3" %>
  <% else %>
    <%= link_to image_tag("no_user.png", size: "50x50", class: "rounded-circle z-depth-0",
                          alt: "avatar image"), profile_path(object.user), class: "mr-3" %>
  <% end %>
  <div class="post-header-names mr-auto" style="line-height: 20px;">
    <%= link_to "@#{object.user.user_name}", profile_path(object.user), class: "post-header-username" %>
  </div>

  <% if user_signed_in? %>
    <% if object.user == current_user %>
      <div class="dropdown mr-1">
        <button type="button" class="btn dropdown-toggle setting-btn py-0 px-1", data-toggle="dropdown", data-offset="0,10", id="post-dropdown-<%= object.id %>",
                          aria-haspopup="true", aria-expanded="false", style="box-shadow: none" ><i class="fas fa-ellipsis-h"></i></button>
        <div class="dropdown-menu dropdown-menu-right">

          <div class="dropdown-divider"></div>
          <%= link_to edit_post_path(object), class: "dropdown-item d-flex align-items-center" do %>
            <div style="width: 100%">投稿を編集</div><i class="far fa-edit" style="position: relative; left: 4px;"></i>
          <% end %>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item d-flex align-items-center" id="post-dropdown-delete-<%= object.id %>" style="color: #f90e43; cursor: pointer;" data-toggle="modal" data-target="#post_modal_<%= object.id %>">
            <div style="width: 100%">投稿を削除</div><i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </div>
    <% elsif current_user.admin?  %>
      <div class="dropdown mr-1">
        <button type="button" class="btn dropdown-toggle setting-btn py-0 px-1", data-toggle="dropdown", data-offset="0,10",
                          aria-haspopup="true", aria-expanded="false", style="box-shadow: none" ><i class="fas fa-ellipsis-h"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item d-flex align-items-center" style="color: #f90e43; cursor: pointer;" data-toggle="modal" data-target="#post_modal_<%= object.id %>">
            <div style="width: 100%">投稿を削除</div><i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </div>
    <% else %>
      <div class="dropdown d-block d-sm-none" style="margin-right: 15px;">
        <button type="button" class="btn dropdown-toggle setting-btn py-0 px-1", data-toggle="dropdown", data-offset="51,10",
                          aria-haspopup="true", aria-expanded="false", style="box-shadow: none" ><i class="fas fa-ellipsis-h"></i></button>
      </div>
      <div class="dropdown d-none d-sm-block" style="margin-right: 15px;">
        <button type="button" class="btn dropdown-toggle setting-btn py-0 px-1", data-toggle="dropdown", data-offset="-18,10",
                          aria-haspopup="true", aria-expanded="false", style="box-shadow: none" ><i class="fas fa-ellipsis-h"></i></button>
        <div class="dropdown-menu dropdown-menu-left">
          <a href="https://twitter.com/share?url=<%= post_url(object) %>" target="_blank" rel="nofollow" class="dropdown-item opensub d-flex align-items-center">
            <div style="width: 100%">投稿を共有</div><i class="fab fa-twitter" style="position: relative; left: 2px;"></i>
          </a>
        </div>
      </div>
      <%= render 'posts/like_form', object: object %>
    <% end %>
  <% else %>
    <div class="dropdown mr-1">
      <button type="button" class="btn dropdown-toggle setting-btn py-0 px-1", data-toggle="dropdown", data-offset="0,10",
                        aria-haspopup="true", aria-expanded="false", style="box-shadow: none" ><i class="fas fa-ellipsis-h"></i></button>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="https://twitter.com/share?url=<%= post_url(object) %>" target="_blank" rel="nofollow" class="dropdown-item opensub d-flex align-items-center">
          <div style="width: 100%">投稿を共有</div><i class="fab fa-twitter" style="position: relative; left: 2px;"></i>
        </a>
      </div>
    </div>
  <% end %>
</div>

<script>
  jQuery(document).ready(function(){
    $(".opensub").click(function(){
      window.open(this.href,"WindowName","width=520,height=350,resizable=yes,scrollbars=yes");
      return false;
    });
  });
</script>