<% provide :title, "新規投稿" %>

<!-- error -->
<div class="error_explanation">
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
</div>

<div class="page-header d-flex align-items-center mx-auto mb-4">部屋の写真を投稿する</div>

<%= form_for @post do |f| %>
  <div class="post-form">
    <div class="preview-wrap" onClick="$('#file').click()">
      <div id="img_field">
        <% if @post.image.present? %>
          <%= image_tag(@post.image.url, class: "preview") %>
        <% end %>
      </div>
      <i class="fas fa-camera" onClick="$('#file').click()"></i>
    </div>

    <%= f.file_field :image, class: "image", style: "display: none;", id: "file", accept: 'image/jpeg,image/gif,image/png' %>

    <%= f.text_area :caption, class: "caption", placeholder: "キャプションを入力..." %>
  </div>

  <div class="post-form-btns text-right mb-4">
    <%= link_to "キャンセル", root_path, class: "btn post-form-btn mr-2", style: "border: none;" %>
    <%= f.submit "投稿を送信", { class: "btn post-form-btn mr-3" } %>
  </div>
<% end %>

<%= render 'posts/post_form_script' %>