<% provide(:title, '私の部屋画像') %>

<!-- error -->
<div class="error_explanation">
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert alert-notice"><%= alert %></p>
  <% end %>
</div>

<div class="post-container no-gutters mx-sm-auto" style="max-width: 700px">
  <%= render 'posts/post_header', object: @post %>
  <div class="col img-col">
    <%= image_tag @post.image.url, size: "700x500", class: "img-fluid" %>
  </div>
  <div class="col">
    <%= render 'posts/post_body', object: @post %>
  </div>
  <div class="col comment-form">
    <%= render partial: 'comments/comment_form', :locals => {:comment => @comment, :post => @post} %>
  </div>
  <div class="col comment-index">
    <%= render partial: 'comments/comment_index', :locals => {:comment => @comment, :post => @post} %>
  </div>
</div>