<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head_setting' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container mb-5">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
